@use 'src/styles/vars';

.header{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: vars.$gutter;

    &-logo{
        margin: vars.$gutter*2;
        font-size: 3.5rem;
        letter-spacing: -1.3rem;
        font-weight: 900;
    }

    &-title{
        margin-bottom:vars.$gutter*2;
        font-size: 3rem;
    }


}


@media (min-width:768px) {

.header{
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    &-logo{
        font-size: 4.5rem;
        letter-spacing: -1.5rem;
        &:hover{
            color: vars.$yellow;
        }
    }

    &-title{
        font-size: 4.5rem;
    }
}
}


@media (min-width:1024px) {

    .header{
    
        &-logo{
            font-size: 5.5rem;
            letter-spacing: -1.8rem;
        }
    
        &-title{
            font-size: 5.5rem;
        }
    }
    }