@use 'src/styles/vars';

.image{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: vars.$gutter;
    margin-bottom: vars.$gutter;
    
    &-title{
        padding: vars.$gutter;
        font-weight: 700;
    }
    
    &-img{
        width: 100%;
        height: auto;
        min-width: 320px;
    }

    &-link{
        padding: vars.$gutter;
        margin-bottom: vars.$gutter;
        margin-top: vars.$gutter*0.5;
        border: 1px solid vars.$white;
        border-radius: 25px;

        &:hover{
            border: 1px solid vars.$yellow;
            border-radius: 25px;
            color: vars.$yellow;
        }
    }
    
}


@media (min-width:768px) {

    .image{
        &-img{
            width: 60%;
            min-width: 460.8px;
        }
        &-title{
            font-size: larger;
        }
    } 
}


@media (min-width:1024px) {
    
    .image{
        &-img{
            width: 50%;
            min-width: 512px;
        }
        &-link{
            font-size: larger;
        }
    } 
}

@media (min-width:1440px) {
    
    .image{
        &-img{
            width: 50%;
            min-width: 720px;
        }
    } 
}